.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.left-area{
    background-color: #fff;
    width: 20%;
    min-height: 700px;
    margin-left: 100px;
    margin-top: 15px;
}

.left-area img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.info{
   margin-left: 5px; 
}
.info i{
    color: rgb(38 161 161);
}
.info div{
   margin-bottom: 25px;
   line-height: 1px;
}
.skills{
    margin-bottom: 1px;
    /* margin: auto; */
    /* text-align: -webkit-center; */
    margin-left: 5px;
}
hr{
    margin-top:-17px;
    border-top: 3px solid rgb(120, 199, 199);
}

h2{
    color: rgb(38 161 161);
}

.skills h4{
    background-color: rgb(120, 199, 199);
    width: 190px;
    border-radius: 6px;
    /* margin-left: 5px; */
    height: 20px;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
    background-color: rgb(120, 199, 199);
}

.right-area{
    min-height: 700px;
    width: 80%;
   margin-top: 0%;
}
.name-head{
    width: 80%;
    height: 150px;
    background: rgb(38 161 161);
    margin-top: 0%;
    
}

.name-head h1{
    color: white;
    font-size: 2em;
    font-weight: 2;
    margin-left: 10px;
}
.name-head h4{
    color: white;
    margin-left: 10px;
    font-weight: 2;
    margin-top: 0%;
}